---
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const ideas = await getCollection("ideas");
  const paths = ideas.map((idea) => {
    return {
      params: {
        slug: idea.slug,
      },
      props: { idea },
    };
  });
  return paths;
}

export type Props = {
  idea: CollectionEntry<"ideas">;
};

const { idea } = Astro.props;
const { Content, headings } = await idea.render();
---

<Layout title={`${idea.data.title} | dmitrykrasnov`}>
  <PageIntro heading={idea.data.title} subheading={idea.data.description}>
    <div>
      <a
        href="/ideas"
        class="inline-flex h-12 w-full items-center justify-center rounded-full border-2 bg-neutral-900 px-6 font-semibold transition hover:bg-neutral-800 focus:outline-none focus:ring lg:w-fit lg:justify-start"
        >&larr;&nbsp;Back</a
      >
    </div>
  </PageIntro>
  <hr class="my-5" />
  <div class="grid grid-cols-1 lg:grid-cols-[auto,1fr] lg:gap-20">
    <div>
      <ul class="hidden space-y-1 lg:block">
        <li
          class="tracking-loose text-xs font-medium uppercase leading-loose text-neutral-500"
        >
          Table of Contents
        </li>
        {
          headings.map(({ text }) => (
            <li>
              <a
                href={`#${text.replaceAll(" ", "-").toLowerCase()}`}
                class="underline-offset-2 hover:underline focus:underline focus:outline-none"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <article>
      <Content />
    </article>
  </div>
</Layout>
