---
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
import SnippetsList from "$components/snippets-list.svelte";
import Filter from "$components/filter.svelte";
---

<Layout title="Recipes" description="Astro.description">
  <PageIntro heading="Recipes">
    <Filter client:load label="Search recipes..." />
  </PageIntro>
  <div class="h-20"></div>
  <section>
    <SnippetsList client:load />
    <div class="h-10"></div>
  </section>
</Layout>
