---
import Card from "$components/card.svelte";
// import ImageGrid from "$components/image-grid.astro";
import Ide from "$components/ide.svelte";
import HelloWorld from "$components/hello-world.md";
import Layout from "$layouts/base.astro";
---

<Layout title="dmitrykrasnov" description="Astro.description">
  <section
    class="grid min-h-content items-center gap-20 lg:grid-cols-[1fr,minmax(0,1fr)]"
  >
    <div class="space-y-6 text-center lg:space-y-10 lg:text-left">
      <h1
        class="text-5xl font-bold tracking-tight text-neutral-100 lg:text-8xl"
      >
        dmitry krasnov
      </h1><p class="text-neutral-300">
        I’m a polyglot programmer, self-starter and coding enthusiast. I use
        TypeScript and Go professionally to build solutions that deliver
        seamless user experiences.
      </p>
      <div>
        <a
          href="/about"
          class="inline-flex h-12 items-center rounded-full border-2 bg-neutral-900 px-6 font-semibold transition hover:bg-neutral-800 focus:outline-none focus:ring"
          >About me&nbsp;&rarr;</a
        >
      </div>
    </div>
    <!-- <div class="overflow-hidden"><ImageGrid /></div> -->
    <div class="overflow-hidden">
      <Ide><HelloWorld /></Ide>
    </div>
  </section>
  <div class="h-20"></div>
  <section
    class="mx-auto grid max-w-lg grid-cols-1 gap-10 md:max-w-full md:grid-cols-3 md:gap-5"
  >
    <Card size="lg" href="/portfolio" linkText="Read blog">
      <h2 class="font-bold">Blog</h2>
      <div class="h-2.5"></div>
      <p class="text-neutral-400">
        Personal reservoir of thoughts and ideas, where I share insights,
        stories, and reflections on a variety of topics that intrigue and
        inspire me.
      </p>
      <div class="h-5"></div>
    </Card>
    <Card size="lg" href="/portfolio" linkText="View portfolio">
      <h2 class="font-bold">Portfolio</h2>
      <div class="h-2.5"></div>
      <p class="text-neutral-400">
        A curated collection of creative endeavors, projects, and achievements,
        showcasing my journey and skills over time.
      </p>
      <div class="h-5"></div>
    </Card>
    <Card size="lg" href="/portfolio" linkText="Discover recipes">
      <h2 class="font-bold">Recipes</h2>
      <div class="h-2.5"></div>
      <p class="text-neutral-400">
        Each recipe encapsulates smart solutions and shortcuts I've encountered
        throughout my coding career.
      </p>
      <div class="h-5"></div>
    </Card>
  </section>
</Layout>
