/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-neutral-950 text-neutral-200 antialiased;
  }
}


:root {
  color-scheme: dark;
  --page-top: 48px;
  --page-gutter: 24px;
  --banner-height: 40px;
  --header-height: 72px;
  --footer-height: 96px;
  --content-width: 72rem;
  --content-height: calc(
    100vh - var(--banner-height) - var(--header-height) - (var(--page-top) * 2)
  );

  --astro-code-color-text: hsla(0,0%,93%,1);
  --astro-code-color-background: transparent;
  --astro-code-token-constant: hsla(0,0%,93%,1);
  --astro-code-token-string: hsla(131,43%,57%,1);
  --astro-code-token-comment: hsla(0,0%,63%,1);
  --astro-code-token-keyword: hsla(341,90%,67%,1);
  --astro-code-token-parameter: hsla(35,100%,52%,1);
  --astro-code-token-function: hsla(210,100%,66%,1);
  --astro-code-token-string-expression: hsla(131,43%,57%,1);
  --astro-code-token-punctuation: hsla(0,0%,93%,1);
  --astro-code-token-link: hsla(131,43%,57%,1);
}

[id] {
	scroll-margin-top: var(--page-top);
}

article {
	@apply max-w-prose;
}
article > *:not(:first-child) {
	@apply mt-7;
}

article h2 {
	@apply text-lg font-semibold tracking-tight;
}

article h3 {
	@apply font-semibold tracking-tight;
}
article h2:not(:first-child),
article h3,
article h4,
article h5 {
	@apply mt-14;
}
article a {
	@apply inline font-medium text-neutral-200 underline-offset-2 after:inline-block after:whitespace-pre hover:underline focus:outline-none focus:underline underline-offset-2;
}
article a[href^="http"] {
	@apply after:content-['_↗'];
}
article a:hover {
	@apply underline;
}
article blockquote {
	@apply border-l-2 pl-3 text-neutral-500;
}
article ul,
article ol {
	@apply pl-6 leading-loose;
}
article ul {
	@apply list-disc;
}
article ol {
	@apply list-decimal;
}
article li > pre {
	@apply mb-1.5;
}
article pre {
	@apply rounded-xl p-4;
}
article code {
	@apply rounded bg-transparent p-1 font-mono text-sm font-medium;
}

details summary::-webkit-details-marker {
  display: none;
}

[cmdk-dialog] {
  @apply fixed inset-0 z-20 pt-[10vh];
}

[cmdk-overlay] {
  @apply fixed inset-0 bg-neutral-950/50 backdrop-blur-sm transition;
}

[cmdk-root] {
  @apply absolute inset-x-0 bottom-0 z-30 mx-auto max-w-xl overflow-hidden rounded-b-none rounded-t-xl border-2 before:absolute before:inset-0 before:z-[-1] before:bg-neutral-500 supports-[backdrop-filter]:before:bg-neutral-950/90 supports-[backdrop-filter]:before:backdrop-blur-md sm:bottom-auto sm:rounded-b-xl;
}

[cmdk-input-container] {
  @apply relative flex h-14 items-center space-x-3 px-3 sm:h-16 sm:px-5;
}

[cmdk-input] {
  @apply h-full w-full bg-transparent text-[16px] placeholder:text-neutral-500 focus:outline-none sm:text-sm;
}

[cmdk-list] {
  @apply relative h-[min(330px,var(--cmdk-list-height))] max-h-[30dvh] scroll-pe-2 scroll-ps-2 overflow-auto overscroll-contain border-t-2 px-3 transition-[height] sm:max-h-[330px] sm:px-5;
}

[cmdk-group] {
  @apply space-y-1;
}
[cmdk-group]:not([hidden]) + [cmdk-group]:not([hidden]) {
  @apply mt-6;
}

[cmdk-group-heading] {
  @apply select-none text-sm font-semibold tracking-tight text-neutral-500;
}

[cmdk-item] {
  @apply -mx-1.5 flex cursor-pointer items-center space-x-2 rounded-lg px-1.5 py-3 text-sm font-medium transition focus:outline-none sm:-mx-2.5 sm:px-2.5;
}
[cmdk-item][data-selected="true"] {
  @apply bg-neutral-800;
}

[cmdk-item][data-selected="true"] > * {
  @apply text-neutral-200;
}

[cmdk-item] svg {
  @apply text-neutral-500 transition;
  width: 18px;
  height: 18px;
  stroke-width: 1.5px;
}

[cmdk-item][data-selected="true"] svg {
  @apply text-neutral-200;
}

[cmdk-empty] {
  @apply -mx-1.5 space-y-6 sm:-mx-3;
}
