/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-200 antialiased;
  }
}

:root {
  --page-top: 48px;
	--page-gutter: 24px;
	--banner-height: 40px;
	--header-height: 72px;
	--footer-height: 96px;
	--content-width: 72rem;
	--content-height: calc(
		100vh - var(--banner-height) - var(--header-height) - (var(--page-top) * 2)
	);
}
