---
import CommandMenuTrigger from "$components/command-menu-trigger";
import { clsx } from "clsx";
function isCurrent(url: string) {
  return Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") === url;
}

const menu = [
  ["home", "/"],
  ["about", "/about"],
  ["blog", "/blog"],
  ["portfolio", "/portfolio"],
  ["recipes", "/recipes"],
];
---

<header class="flex h-header-height justify-center px-page-gutter">
  <div
    class="flex w-full max-w-content items-center justify-between space-x-2.5"
  >
    <a
      href={"/"}
      aria-current={isCurrent("/") ? "page" : undefined}
      class="-ml-2.5 flex shrink-0 items-center rounded-xl px-2.5 py-1.5 font-bold transition focus:outline-none focus:ring"
      >dmitrykrasnov.</a
    >
    <nav aria-label="navigation" class="block md:hidden">
      <ul role="list" class="flex items-center gap-3">
        <li>
          <details class="group relative">
            <summary
              class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md transition focus:outline-none focus:ring focus:ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="hidden group-open:inline-flex"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M18 6l-12 12"></path>
                <path d="M6 6l12 12"></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="inline-flex group-open:hidden"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 8l16 0"></path>
                <path d="M4 16l16 0"></path>
              </svg>
            </summary>

            <div
              class="absolute right-0 top-10 z-50 w-64 rounded-xl border-2 bg-neutral-900 p-3"
            >
              <ul role="list" class="flex flex-col gap-3">
                {
                  menu.map(([name, href]) => (
                    <li>
                      <a
                        href={href}
                        aria-current={isCurrent(href) ? "page" : undefined}
                        class={clsx(
                          "flex justify-between rounded-md p-2.5 font-semibold transition hover:bg-neutral-800 hover:text-neutral-200 focus:outline-none focus:ring focus:ring-inset [&:hover>svg]:text-neutral-200",
                          {
                            "text-neutral-500": !isCurrent(href),
                          },
                        )}
                      >
                        <span>{name}</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class={clsx("transition", {
                            "text-neutral-500": !isCurrent(href),
                          })}
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </a>
                    </li>
                  ))
                }
                <li class="border-b"></li>
                <CommandMenuTrigger size="lg" client:load>
                  Search
                </CommandMenuTrigger>
              </ul>
            </div>
          </details>
        </li>
      </ul>
    </nav>

    <nav aria-label="navigation" class="hidden md:flex">
      <ul role="list" class="-ml-5 flex items-center gap-5">
        {
          menu.map(([name, href]) => (
            <li>
              <a
                href={href}
                aria-current={isCurrent(href) ? "page" : undefined}
                class={clsx(
                  "rounded-full font-semibold transition hover:text-neutral-200 focus:text-neutral-100 focus:outline-none",
                  {
                    "text-neutral-500": !isCurrent(href),
                  },
                )}
              >
                <span class="relative px-2 py-1">
                  {name}
                  {isCurrent(href) && (
                    <div class="absolute inset-0 top-7 z-[-1] h-0.5 bg-neutral-800 bg-gradient-to-r from-transparent to-neutral-900" />
                  )}
                </span>
              </a>
            </li>
          ))
        }
        <li class="h-6 border-r-2" aria-hidden="true"></li>
        <li>
          <CommandMenuTrigger client:load size="sm">Search</CommandMenuTrigger>
        </li>
      </ul>
    </nav>
  </div>
</header>
