---
function isCurrent(url: string) {
  return Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") === url;
}

const menu = ["snippets", "projects"];
---

<header class="h-header-height px-page-gutter flex justify-center">
  <div
    class="max-w-content flex w-full items-center justify-between space-x-2.5"
  >
    <a href="/" aria-current={isCurrent("/") ? "page" : undefined}
      >dkrasnov.dev</a
    >
    <nav aria-label="navigation" class="flex">
      <ul role="list" class="flex items-center gap-2">
        {
          menu.map((page) => (
            <li>
              <a href={`/${page}`}>{page}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
