---
import { clsx } from "clsx";
function isCurrent(url: string) {
  return Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") === url;
}

const menu = [
  ["home", "/"],
  ["about", "/about"],
];
---

<header class="flex h-header-height justify-center px-page-gutter">
  <div
    class="flex w-full max-w-content items-center justify-between space-x-2.5"
  >
    <nav aria-label="navigation" class="hidden md:flex">
      <ul role="list" class="flex items-center gap-2.5">
        {
          menu.map(([name, href]) => (
            <li>
              <a
                href={href}
                aria-current={isCurrent(href) ? "page" : undefined}
                class={clsx(
                  "rounded-md p-2.5 transition hover:bg-neutral-900 hover:text-neutral-200 focus:outline-none focus:ring focus:ring-inset",
                  {
                    "text-neutral-500": !isCurrent(href),
                  },
                )}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
