---
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
---

<Layout title="Projects" description="Astro.description">
  <PageIntro heading="Projects" />
  <div class="h-20"></div>
  <section></section>
</Layout>
