---
import "$style/global.css";
import Banner from "$components/banner.svelte";
import Header from "$components/header.astro";
import Footer from "$components/footer.svelte";
export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Banner />
    <a
      href="#content"
      class="sr-only h-12 rounded-md bg-neutral-900 transition focus:not-sr-only focus:outline-none focus:ring"
      ><span class="m-2.5 p-2.5">Skip to Main Content</span></a
    >
    <Header />
    <main id="content" class="flex justify-center px-page-gutter py-page-top">
      <div class="min-h-content w-full max-w-content">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
