---
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";
import PortfolioList from "$components/portfolio-list.svelte";
import Filter from "$components/filter.svelte";
import Tags from "$components/tags.svelte";
---

<Layout title="portfolio | dmitrykrasnov" description="Astro.description">
  <PageIntro heading="Portfolio">
    <Filter client:load label="Search portfolio..." />
  </PageIntro>
  <div class="h-20"></div>
  <section>
    <Tags client:load />
    <div class="h-10"></div>
    <PortfolioList client:load />
  </section>
</Layout>
